/* ===== PAGE BACKGROUND ===== */
body {
  /* background: radial-gradient(circle at top, #0f172a, #020617); */
  color: #ffffff;
}

/* ===== MAIN CONTAINER ===== */
.purchase-container {
  max-width: 1000px;
  margin: 80px auto;
  padding: 35px;
  display: grid;
  grid-template-columns: 0.9fr 1.4fr 1fr;
  gap: 40px;
  background: #99999a;
  border-radius: 18px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
}

/* ===== LEFT IMAGE ===== */
.paid-book-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paid-book-image img {
  width: 230px;
  border-radius: 14px;
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.9);
}

/* ===== MIDDLE INFO ===== */
.book-info h1 {
  font-size: 34px;
  font-weight: 800;
  margin-bottom: 16px;
  text-transform: lowercase;
}

.category {
  font-size: 18px;
  font-weight: bold;
  color: #12233c;
  margin-bottom: 12px;
}

.price {
  font-size: 26px;
  font-weight: 700;
  color: #1d400e;
  margin-bottom: 8px;
}

.available {
  font-size: 16px;
  font-weight: bold;
  color: #0d2f49;
}

/* ===== RIGHT PURCHASE BOX ===== */
.purchase-box {
  /* background: #020617; */
  /* border: 1px solid #1e293b; */
  border-radius: 14px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
}

.box-price {
  font-size: 28px;
  font-weight: 800;
  color: #1d400e;
}

/* ===== BUTTONS ===== */
.purchase-btn {
  background: #16a34a;
  color: white;
  border: none;
  padding: 14px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.purchase-btn:hover {
  background: #22c55e;
  transform: scale(1.04);
}

.details-btn {
  background: transparent;
  background-color: #e5e7eb;
  border: 1px solid #475569;
  color: #000000;
  padding: 13px;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.details-btn:hover {
  background: rgba(168, 85, 247, 0.12);
}
@media (max-width: 480px) {

  .purchase-container {
    grid-template-columns: 120px 1fr; /* image | text */
    gap: 16px;
    padding: 16px;
    margin: 20px 10px;
  }

  /* Image */
  .paid-book-image img {
    width: 110px;
  }

  /* Text info */
  .book-info h1 {
    font-size: 17px;
    margin-bottom: 4px;
  }

  .category {
    font-size: 13px;
    margin-bottom: 4px;
  }

  .price {
    font-size: 15px;
    margin-bottom: 4px;
  }

  .available {
    font-size: 13px;
  }

  /* Purchase box niche full width */
  .purchase-box {
    grid-column: 1 / -1;
    margin-top: 15px;
  }

}

